<div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 50px;">
  <mat-card style="padding:5px; width:70%">
    <mat-card-title fxLayoutAlign="center center" style="padding-bottom: 15px; padding-top: 30px;">
      Register New User!
    </mat-card-title>
    <mat-card-content fxLayout="column" style="margin-right:25%; margin-left:25%;">
      <mat-form-field appearance="outline">
        <mat-label>User Type</mat-label>
        <mat-select placeholder="User Type" [(ngModel)]="user.userRole" (ngModelChange)="onRoleChange($event)">
          <mat-option [value]="'Doctor'">Doctor</mat-option>
          <mat-option [value]="'Patient'">Patient</mat-option>
          <mat-option [value]="'Employee'">Employee</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="user.username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" [(ngModel)]="user.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle Name" [(ngModel)]="user.middleName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="user.birthDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sex</mat-label>
        <mat-select placeholder="Sex" [(ngModel)]="user.sex">
          <mat-option [value]="'MALE'">Male</mat-option>
          <mat-option [value]="'FEMALE'">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" type="tel" [(ngModel)]="user.phoneNumber">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="user.userRole === 'Doctor'|| user.userRole === 'Employee'">
        <mat-label>Salary</mat-label>
        <input matInput placeholder="Salary" [(ngModel)]="user.salary">
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="user.userRole === 'Doctor'">
        <mat-label>Specialisation</mat-label>
        <input matInput placeholder="Specialisation" [(ngModel)]="user.specialisation">
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="user.userRole === 'Employee'">
        <mat-label>Employee Type</mat-label>
        <mat-select placeholder="EmployeeType" [(ngModel)]="user.employeeType">
          <mat-option [value]="'Nurse'">Nurse</mat-option>
          <mat-option [value]="'Support'">Support</mat-option>
          <mat-option [value]="'Staff'">Staff</mat-option>
          <mat-option [value]="'Registration'">Registration</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-bottom: 50px; height: 50px;" (click)="register()">
        Register!
      </button>
    </mat-card-content>
  </mat-card>
</div>
