<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card style="padding:15px; width:60%">
    <mat-card-title style="padding-left:40%">Profile</mat-card-title>
    <!-- <mat-card-subtitle style="padding-left: 35%">Hello, login into HospitalApp</mat-card-subtitle> -->
    <mat-card-content fxLayout="column" style="margin-right:25%; margin-left:25%;">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
