<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card style="padding:15px; width:60%">
    <mat-card-title style="padding-left:40%">Login</mat-card-title>
    <mat-card-subtitle style="padding-left: 35%">Hello, login into HospitalApp</mat-card-subtitle>
    <mat-card-content fxLayout="column" style="margin-right:25%; margin-left:25%;">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()" style="margin-bottom: 50px;">Login</button>
    </mat-card-content>
  </mat-card>
</div>
