<div fxLayout="column" fxLayoutAlign="center center">
  <table mat-table [dataSource]="patients" class="mat-elevation-z8">

    <ng-container matColumnDef="personalNumber">
      <th mat-header-cell *matHeaderCellDef> Personal Number </th>
      <td mat-cell *matCellDef="let patient"> {{patient.personalNumber}} </td>
    </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let patient"><div class="table-link" (click)="details(patient)">{{patient.firstName}}</div></td>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <th mat-header-cell *matHeaderCellDef> Middle Name </th>
    <td mat-cell *matCellDef="let patient"> {{patient.middleName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
</div>
